

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12">
          <p class="p-20">Panel</p>
          <kendo-menu [items]="menuItems">
          </kendo-menu>
      </div>
      <div class="col-12 mt-20">
        <kendo-grid [data]="users" (select)="onSelect($event)" [height]="410">
            <kendo-grid-column field="username" title="Kullanıcı Adı" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="email" title="Email" width="250">
            </kendo-grid-column>
        </kendo-grid>
      </div>
  </div>
</div>