<div>
    <div class="row example-wrapper">
        <div class="col-xs-12 col-sm-6 example-col">
            <p>.k-form</p>
            <div class="card">
                <div class="card-block">
                    <div class="k-form">
                        <label class="k-form-field">
                            <span>First Name</span>
                            <input class="k-textbox" placeholder="Your Name" />
                        </label>
                        <label class="k-form-field">
                            <span>Last Name</span>
                            <input class="k-textbox" placeholder="Your Last Name" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>